<h2><%= @quiz.name %></h2>
<h3>Progress</h3>
<p id="example-console">Changes will be autosaved</p>
<div id="example"></div>
<script>
  var data = <%= raw @rows.to_json %>;
  var columnHeaders = <%= raw @column_headers.to_json %>;
  console.log(columnHeaders);
  console.log(data);

  var autosaveNotification;
  var exampleConsole = document.getElementById('example-console');
  var container = document.getElementById('example');
  var token = document.querySelector('meta[name="csrf-token"]').content;
  var hot = new Handsontable(container, {
    data: data,
    rowHeaders: false,
    colHeaders: columnHeaders,
    filters: true,
    dropdownMenu: true,
    licenseKey: 'non-commercial-and-evaluation',
    contextMenu: ['remove_row'],
    afterChange: function (change, source) {
      if (source === 'loadData') {
        return;
      }
      clearTimeout(autosaveNotification);
      row = data[change[0][0]];
      questionId = row[0];
      fetch(
        '<%= quiz_question_index_url(quiz_id: @quiz.id) %>' + '/' + questionId,
        {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': token
          },
          body: JSON.stringify(
            { question: { title: row[1], expired: row[2] == 'true' } }
          )
        }
      )
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        exampleConsole.innerText  = 'Autosaved (' + change.length + ' ' + 'cell' + (change.length > 1 ? 's' : '') + ')';
        autosaveNotification = setTimeout(function() {
          exampleConsole.innerText ='Changes will be autosaved';
        }, 2000);
      });
    }
  });
</script>
